
.chitti{
    border: 30px groove ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: larger;
background-color: yellow;
padding: 70px;
margin: 50px;
border-radius: none ;
border-radius: 10px;
text-align: center;
font-weight: 200px;
}
.pra{
    cursor: pointer;
    background-color: black;
    color: white;
}
.tan{
    border:40px groove white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: large;
    padding: 20px;
    margin: 40px;
    width: 800px;
    height: 300px;
text-align: center;
background-color: rgba(8, 176, 243, 0.807);
}
.color{
    background-color: black;
    text-align: center;
    cursor: pointer;
    color: white;
}

.color1{
    background-color:black;
    color: white;
    cursor: pointer;
}
}



}







































